# Ignore dot-format files and directories by default.
.*

# Keep repository ignore rules trackable.
!.gitignore

# Keep GitHub configuration trackable.
!.github/
!.github/**

/build/
/build-*/
/boost_*/
/boost_*.zip
/*.exports.txt
